<form id="post-quiz">
<p>Add One Question Per Line</p>
<label>Questions: </label><input type="text" name="questions"></input>
<label>Category: </label><input type="text" name="category"></input>
<label>Quiz Name: </label><input type="text" name="name"></input>
<label>Skill Level:</label><input type="text" name="skillLevel"></input>
<button>Submit</button>
</form>

<p>Choose Quiz By Subject</p>
<div class="display-quizzes">
    <form class="quizadd">
    <label>Choose Quiz:</label><input type="text" name="choosequiz"></input>
    <button>Find Quizzes</button>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="app.js"></script>